body {
  padding: 0;
  margin: 0;
  font-family: Söhne, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Apple Color Emoji;
}

#webview {
  width: 100%;
  margin-top: 20px;
  height: calc(100vh - 25px);
  display: inline-flex !important;
}

#dragbar {
  -webkit-app-region: drag;
  background: rgba(46, 47, 57, 1.0);
  height: 20px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.hidden {
  display: none;
}

#change-settings.hidden {
  display: none;
}

#change-settings {
  align-items: center;
  animation: fadein 0.5s;
  backdrop-filter: blur(10px);
  background: rgba(46, 47, 57, 0.75);
  color: white;
  cursor: pointer;
  height: 100vh;
  /* This makes the container take up the full height of the viewport */
  justify-content: center;
  position: absolute;
  width: 100%;
}

#change-settings .content {
  margin: 2em;
  padding-top: 35vh;
}

.h-100 {
  height: 100%;
}

.text-muted {
  color: #6c757d !important;
}

/* Margin Right */
.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

/* Margin Left */
.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

/* Margin Bottom */
.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

/* Margin Top */
.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

/* Padding Left */
.pl-1 {
  padding-left: 1rem;
}

.pl-2 {
  padding-left: 2rem;
}

/* Padding Right */
.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 2rem;
}

/* Padding Top */
.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

/* Padding Bottom */
.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.bg-gray {
  background-color: rgba(46, 47, 57, 1.0);
}

.bg-light-gray {
  background-color: rgb(104, 105, 126);
}

.color-white {
  color: white;
}

.invert {
  filter: invert(1);
}

label {
  display: inline-block;
  margin: 0.5rem;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  background-color: rgb(104, 105, 126);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 12px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  width: 100%;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
  background-color: rgb(104, 105, 126);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: rgb(104, 105, 126);
}

/* define a flex grid with row and columns */
.row {
  display: flex;
}

.col {
  flex: 1;
}

/* Define different column sizes, from 1 to 12 */
.col-1 {
  flex: 1;
}

.col-2 {
  flex: 2;
}

.col-3 {
  flex: 3;
}

.col-4 {
  flex: 4;
}

.col-5 {
  flex: 5;
}

.col-6 {
  flex: 6;
}

.col-7 {
  flex: 7;
}

.col-8 {
  flex: 8;
}

.col-9 {
  flex: 9;
}

.col-10 {
  flex: 10;
}

.col-11 {
  flex: 11;
}

.col-12 {
  flex: 12;
}

.color-cycle {
  animation: color-cycle-animation 5s infinite;
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes color-cycle-animation {
  0% {
    background-color: red;
  }

  25% {
    background-color: blue;
  }

  50% {
    background-color: green;
  }

  75% {
    background-color: yellow;
  }

  100% {
    background-color: red;
  }
}

.loading-text {
  font-size: 50px;
  position: absolute;
  color: rgba(76, 78, 94, 1);
  margin-bottom: 160px;
}

.wave {
  width: 5px;
  height: 100px;
  margin: 10px;
  animation: wave 1s linear infinite, color-cycle-animation 5s infinite;
  border-radius: 20px;
}

.wave:nth-child(2) {
  animation-delay: 0.1s;
}

.wave:nth-child(3) {
  animation-delay: 0.2s;
}

.wave:nth-child(4) {
  animation-delay: 0.3s;
}

.wave:nth-child(5) {
  animation-delay: 0.4s;
}

.wave:nth-child(6) {
  animation-delay: 0.5s;
}

.wave:nth-child(7) {
  animation-delay: 0.6s;
}

.wave:nth-child(8) {
  animation-delay: 0.7s;
}

.wave:nth-child(9) {
  animation-delay: 0.8s;
}

.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}


input[type="checkbox"] {
  position: relative;
  height: 24px;
  width: 44px;
  margin: 0.5em;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  vertical-align: middle;
}

input[type="checkbox"]+label {
  vertical-align: middle;
  margin: 0 1rem;
  cursor: pointer;
}

input[type="checkbox"]::before {
  background: #747d87;
  border-radius: 16px;
  content: ' ';
  cursor: pointer;
  display: block;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.3s ease 0s;
  visibility: visible;
  width: 46px;
}

input[type="checkbox"]::after {
  background: white;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px 0px, rgba(0, 0, 0, 0.2) 0px 2px 2px 0px;
  content: ' ';
  cursor: pointer;
  display: block;
  height: 24px;
  left: 0;
  position: absolute;
  top: 2px;
  transition: all 0.3s ease 0s;
  visibility: visible;
  width: 24px;
}

input[type="checkbox"]:hover::before {
  background: #CBD1E0;
}

input[type="checkbox"]:checked:hover::before {
  background: rgb(133, 233, 172);
}

input[type="checkbox"]:checked::before {
  background: rgb(0 225 88);
}

input[type="checkbox"]:checked::after {
  margin-left: 20px;
}

input[type="checkbox"]:focus {
  outline: none;
}
